<a href="https://colab.research.google.com/github/ayodejiiyanu8/tutorial/blob/main/hamoye_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

In [ ]:
import pandas as pd

In [ ]:
csv_df=pd.read_csv('foodBalanceSheets.csv', encoding = 'latin1')

In [ ]:
csv_df.to_csv('foodBalanceSheets.csv', index = 'False')

In [ ]:
food_data=pd.read_csv('foodBalanceSheets.csv')

In [ ]:
food_data.describe( include = 'all')

,Unnamed: 0,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943,60943.000000,60943,60943.000000,60943,60943,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
unique,NaN,NaN,49,NaN,119,NaN,18,5,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,Kenya,NaN,Milk - Excluding Butter,NaN,Domestic supply quantity,1000 tonnes,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,1560,NaN,1262,NaN,5295,40933,NaN,NaN,NaN,NaN,NaN
mean,30471.000000,134.265576,NaN,2687.176706,NaN,3814.856456,NaN,NaN,134.196282,135.235966,136.555222,140.917765,143.758381
std,17592.873065,72.605709,NaN,146.055739,NaN,2212.007033,NaN,NaN,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,0.000000,4.000000,NaN,2501.000000,NaN,511.000000,NaN,NaN,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,15235.500000,74.000000,NaN,2562.000000,NaN,684.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000
50%,30471.000000,136.000000,NaN,2630.000000,NaN,5142.000000,NaN,NaN,0.090000,0.080000,0.080000,0.100000,0.070000
75%,45706.500000,195.000000,NaN,2775.000000,NaN,5511.000000,NaN,NaN,8.340000,8.460000,8.430000,9.000000,9.000000
max,60942.000000,276.000000,NaN,2961.000000,NaN,5911.000000,NaN,NaN,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [ ]:
food_data.groupby('Item')['Item'].sum()

Item
Alcohol, Non-Food      Alcohol, Non-FoodAlcohol, Non-FoodAlcohol, Non...
Alcoholic Beverages    Alcoholic BeveragesAlcoholic BeveragesAlcoholi...
Animal Products        Animal ProductsAnimal ProductsAnimal ProductsA...
Animal fats            Animal fatsAnimal fatsAnimal fatsAnimal fatsAn...
Apples and products    Apples and productsApples and productsApples a...
                                             ...
Vegetables, Other      Vegetables, OtherVegetables, OtherVegetables, ...
Vegetal Products       Vegetal ProductsVegetal ProductsVegetal Produc...
Wheat and products     Wheat and productsWheat and productsWheat and ...
Wine                   WineWineWineWineWineWineWineWineWineWineWineWi...
Yams                   YamsYamsYamsYamsYamsYamsYamsYamsYamsYamsYamsYa...
Name: Item, Length: 119, dtype: object

In [ ]:
food_data.groupby('Y2015')['Y2015'].std()

Y2015
-3161.0     NaN
-2152.0     NaN
-1284.0     NaN
-907.0      NaN
-887.0      NaN
             ..
 92443.0    NaN
 100835.0   NaN
 110798.0   NaN
 111663.0   NaN
 181137.0   NaN
Name: Y2015, Length: 4520, dtype: float64

In [ ]:
food_data.isnull().sum()

Unnamed: 0         0
Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [ ]:
food_data.groupby('Y2015')['Y2015'].std()

Y2015
-3161.0     NaN
-2152.0     NaN
-1284.0     NaN
-907.0      NaN
-887.0      NaN
             ..
 92443.0    NaN
 100835.0   NaN
 110798.0   NaN
 111663.0   NaN
 181137.0   NaN
Name: Y2015, Length: 4520, dtype: float64

In [ ]:
food_data.groupby('Y2015')['Y2015'].mean()

Y2015
-3161.0       -3161.0
-2152.0       -2152.0
-1284.0       -1284.0
-907.0         -907.0
-887.0         -887.0
               ...
 92443.0      92443.0
 100835.0    100835.0
 110798.0    110798.0
 111663.0    111663.0
 181137.0    181137.0
Name: Y2015, Length: 4520, dtype: float64

In [ ]:
food_data.groupby('Item')['Item'].count()

Item
Alcohol, Non-Food      283
Alcoholic Beverages    564
Animal Products        135
Animal fats            639
Apples and products    517
                      ...
Vegetables, Other      583
Vegetal Products       135
Wheat and products     653
Wine                   497
Yams                   383
Name: Item, Length: 119, dtype: int64

In [ ]:
food_data.isnull().sum()

Unnamed: 0         0
Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [ ]:
food_data.groupby('Y2015')['Y2015'].count()

Y2015
-3161.0      1
-2152.0      1
-1284.0      1
-907.0       1
-887.0       1
            ..
 92443.0     1
 100835.0    1
 110798.0    1
 111663.0    1
 181137.0    1
Name: Y2015, Length: 4520, dtype: int64

In [ ]:
food_data.groupby('Element')['Element'].count()

Element
Domestic supply quantity                  5295
Export Quantity                           4403
Fat supply quantity (g/capita/day)        5023
Feed                                      1319
Food                                      4941
Food supply (kcal/capita/day)             5014
Food supply quantity (kg/capita/yr)       4905
Import Quantity                           5139
Losses                                    2009
Other uses (non-food)                     1732
Processing                                2010
Production                                3881
Protein supply quantity (g/capita/day)    5023
Residuals                                 4655
Seed                                       762
Stock Variation                           4232
Total Population - Both sexes               45
Tourist consumption                        555
Name: Element, dtype: int64

In [ ]:
food_data.groupby('Element')['Element'].sum()

Element
Domestic supply quantity                  Domestic supply quantityDomestic supply quanti...
Export Quantity                           Export QuantityExport QuantityExport QuantityE...
Fat supply quantity (g/capita/day)        Fat supply quantity (g/capita/day)Fat supply q...
Feed                                      FeedFeedFeedFeedFeedFeedFeedFeedFeedFeedFeedFe...
Food                                      FoodFoodFoodFoodFoodFoodFoodFoodFoodFoodFoodFo...
Food supply (kcal/capita/day)             Food supply (kcal/capita/day)Food supply (kcal...
Food supply quantity (kg/capita/yr)       Food supply quantity (kg/capita/yr)Food supply...
Import Quantity                           Import QuantityImport QuantityImport QuantityI...
Losses                                    LossesLossesLossesLossesLossesLossesLossesLoss...
Other uses (non-food)                     Other uses (non-food)Other uses (non-food)Othe...
Processing                                ProcessingProcessingProcessingProcessingProces...
Production                                ProductionProductionProductionProductionProduc...
Protein supply quantity (g/capita/day)    Protein supply quantity (g/capita/day)Protein ...
Residuals                                 ResidualsResidualsResidualsResidualsResidualsR...
Seed                                      SeedSeedSeedSeedSeedSeedSeedSeedSeedSeedSeedSe...
Stock Variation                           Stock VariationStock VariationStock VariationS...
Total Population - Both sexes             Total Population - Both sexesTotal Population ...
Tourist consumption                       Tourist consumptionTourist consumptionTourist ...
Name: Element, dtype: object